body {
    margin:0px;
    padding: 0px;
  }
  
.top{
    width: 100%;
    height: 70px;
    background-color: #F55951;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

.TopIcon, .TopSearch {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.topL, .topR {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    object-fit: contain;
    opacity: 85%;
}
.logo:hover {
    opacity: 100%;
    cursor: pointer;
}

.topC {
    flex: 6;
}

.topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; 
    list-style: none;
}

.ListItem {
    font-family: 'Child Chat', sans-serif;
    margin-right: 20px;
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
    color:#ffff;
}
