.Input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: beige;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

